.button {
	@apply gap-2
        rounded-md 
        text-sm 
        font-normal 
        border
        ring-offset-background
        transition-all 
        focus-visible:outline-none 
        focus-visible:ring-2 
        focus-visible:ring-ring 
        focus-visible:ring-offset-2;
	cursor: pointer;
	isolation: isolate;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	--button-bg: var(--_base);
	--highlight-offset: 1px;
	--mix-color: white;
	border-color: color-mix(in hsl, var(--button-bg), var(--mix-color) 20%);
	background-color: var(--button-bg);
	&:hover {
		--button-bg: color-mix(in hsl, var(--_base), var(--mix-color) 5%);
	}
	&:active {
		--button-bg: color-mix(in hsl, var(--_base), var(--mix-color) 10%);
		--highlight-offset: 0px;
		transform: scale(0.98);
	}
	&::after {
		@apply transition-all;
		content: '';
		position: absolute;
		inset: 0;
		border-radius: calc(var(--radius-md) - 1px);
		z-index: -1;
		box-shadow: inset 0 var(--highlight-offset) 0 0
			color-mix(in hsl, var(--button-bg), var(--mix-color) 35%);
		background: linear-gradient(
			to top,
			var(--button-bg) 0%,
			color-mix(in hsl, var(--button-bg), var(--mix-color) 20%) 100%
		);
	}
	&:disabled,
	&[aria-disabled='true'] {
		@apply cursor-not-allowed;
		opacity: 0.5;
		pointer-events: none;
	}
	svg {
		@apply pointer-events-none size-4 shrink-0;
	}
	&.button-default {
		@apply text-primary-foreground;
		--_base: var(--color-primary);
	}
	&.button-secondary {
		@apply text-secondary-foreground border-secondary;
		--_base: var(--color-secondary);
	}
	&.button-ghost {
		@apply text-foreground;
		--_base: white;
		&:not(:hover) {
			--button-bg: transparent;
		}
		&:hover {
			&::after {
				background: var(--color-secondary);
				/* box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07); */
				inset: -1px;
			}
		}
	}
}
