.component-example {
	@apply border border-dashed w-full;
	position: relative;
	--border-offset-size: 20px;
	@variant lg {
		--border-offset-size: 40px;
	}
	&:after {
		content: '';
		@apply border-r border-b border-dashed mask-l-from-20% mask-t-from-20%;
		position: absolute;
		top: calc(-1 * var(--border-offset-size));
		left: calc(-1 * var(--border-offset-size));
		height: var(--border-offset-size);
		width: var(--border-offset-size);
	}
	&:before {
		content: '';
		@apply border-l border-b border-dashed mask-r-from-20% mask-t-from-20%;
		position: absolute;
		top: calc(-1 * var(--border-offset-size));
		right: calc(-1 * var(--border-offset-size));
		height: var(--border-offset-size);
		width: var(--border-offset-size);
	}
	& > div {
		@apply size-full flex items-center flex-col;
		&:after {
			content: '';
			@apply border-r border-t border-dashed mask-l-from-20% mask-b-from-20%;
			position: absolute;
			bottom: calc(-1 * var(--border-offset-size));
			left: calc(-1 * var(--border-offset-size));
			height: var(--border-offset-size);
			width: var(--border-offset-size);
		}
		&:before {
			content: '';
			@apply border-l border-t border-dashed mask-r-from-20% mask-b-from-20%;
			position: absolute;
			bottom: calc(-1 * var(--border-offset-size));
			right: calc(-1 * var(--border-offset-size));
			height: var(--border-offset-size);
			width: var(--border-offset-size);
		}
	}
	.component-example-preview {
		@apply px-10 py-18 grid place-items-center w-full;
	}
	.component-example-code {
		@apply border-t border-dashed w-full;
	}
}
