@import 'tailwindcss';
@import './content-grid.css';
@import './typography.css' layer(components);
@import './button.css' layer(components);
@import './permalink.css' layer(components);
@import './code-block.css' layer(components);
@import './component-example.css' layer(components);

@custom-variant aria-current-page (&[aria-current="page"]);

@theme {
	--font-sans:
		'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

	--spacing-breakout-sm: 74ch;
	--spacing-breakout: 92ch;
	--spacing-breakout-lg: 104ch;
	--spacing-reading: 70ch;
	--spacing-section: calc(var(--spacing) * 20);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);
	--color-success: var(--success);
	--color-warning: var(--warning);

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--animate-collapsible-down: collapsible-down 0.2s var(--ease-out);
	--animate-collapsible-up: collapsible-up 0.2s var(--ease-out);
	@keyframes collapsible-down {
		from {
			height: var(--collapsed-height, 0);
		}
		to {
			height: var(--height);
		}
	}
	@keyframes collapsible-up {
		from {
			height: var(--height);
		}
		to {
			height: var(--collapsed-height, 0);
		}
	}

	--animate-tooltip-in: tooltip-in 0.125s var(--ease-out);
	--animate-tooltip-out: tooltip-out 0.1s var(--ease-out);
	@keyframes tooltip-in {
		from {
			opacity: 0;
			transform: translateY(3px) scale(0.95);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}
	@keyframes tooltip-out {
		from {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
		to {
			opacity: 0;
			transform: translateY(3px) scale(0.95);
		}
	}
}

:root {
	--radius: 0.5rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: var(--foreground);
	--popover: oklch(1 0 0);
	--popover-foreground: var(--foreground);
	--primary: oklch(17.764% 0.00002 271.152);
	--primary-foreground: oklch(0.98 0.016 73.684);
	--secondary: oklch(95.213% 0.00011 271.152);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--warning: oklch(0.65 0.19 90);
	--success: oklch(0.53 0.14 150);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: var(--primary);
}

@layer base {
	*,
	*::before,
	*::after {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground flex flex-col min-h-screen antialiased;
	}

	:root::after {
		content: '';
		position: fixed;
		inset: 0;
		background: var(--color-background);
		z-index: -1;
	}
}

@layer components {
	pre {
		@apply font-mono text-sm py-4 px-6 overflow-x-auto;
		font-variant-ligatures: none;
		line-height: 1.7;
	}

	.table-of-contents {
		@apply text-sm text-muted-foreground;
		ul {
			@apply ms-3;
		}
		a {
			@apply py-1 inline-block hover:text-foreground focus-visible:text-foreground transition-colors;
		}
	}
}
