{
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"semi": true,
	"plugins": ["prettier-plugin-organize-imports"],
	"overrides": [
		{
			"files": [".prettierrc", ".eslintrc"],
			"options": {
				"parser": "json",
				"printWidth": 80
			}
		},
		{
			"files": ["*.jsx"],
			"options": {
				"bracketSameLine": false,
				"jsxBracketSameLine": false
			}
		},
		{
			"files": ["*.json"],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ["package.json"],
			"options": {
				"parser": "json",
				"printWidth": 30
			}
		},
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"parser": "yaml",
				"printWidth": 99999
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"parser": "markdown",
				"printWidth": 99999
			}
		}
	]
}
